.App {
  text-align: center;
  height: 100vh;
}

.background-image {
  width: 100%;
  height: 30%;
}

.dark {
  background-color: hsl(235, 21%, 11%);
}

.light {
  background-color: hsl(0, 0%, 98%);
}

.darkThemeColors {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}

.lightThemeColors {
  background-color: hsl(0, 0%, 98%);
  color: hsl(236, 9%, 61%);
}
